.loader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999999;
}

.loader-wrap.hidden {
    display: none;
}

.loader-wrap:after {
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    content: '';
}