<app-header></app-header>
<div id="wrap">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading d-flex mb-3">
                    <h1 class="title cursor-pointer" (click)="goToDashboard()"><i class="fa fa-arrow-left"></i> Account
                        Settings</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <ul class="list-unstyled">
                        <li [ngClass]="{'active': selectedTabUrl === 2}"><a class="cursor-pointer"
                                (click)="openPage('/account/company-details')">Company Details</a></li>
                        <li [ngClass]="{'active': selectedTabUrl === 1}"><a class="cursor-pointer"
                                (click)="openPage('/account/company-profile')">Company Profile</a></li>
                        <li [ngClass]="{'active': selectedTabUrl === 3}"><a class="cursor-pointer"
                                (click)="openPage('/account/company-locations')">Locations</a></li>
                        <li [ngClass]="{'active': selectedTabUrl === 4}"><a class="cursor-pointer"
                                (click)="openPage('/account/company-preference')">Account
                                Preferences</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
