<form action="" class="form okt-form" (ngSubmit)="loginForm.form.valid &&  _sendDataToParent()" #loginForm="ngForm">
    <div class="form-group1">
        <label class="d-flex" for="">Email</label>
        <!-- <input type="email" class="form-control" placeholder="Enter email"> -->
        <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Enter email" autocomplete="off" required [formControl]="frmUserName"
                [(ngModel)]="loginDetail.userName" matInput />
        </mat-form-field>
        <div class="indi hide">
            <i class="fa fa-user"></i> Super User
        </div>
    </div>
    <div class="form-group1">
        <label class="d-flex" for="">Password</label>
        <!-- <div class="pw">
            <input type="password" class="form-control" placeholder="Password">
            <i class="fa fa-eye-slash"></i>
        </div> -->
        <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" required
                [formControl]="frmPassword" [(ngModel)]="loginDetail.password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class="indi hide">
            <span>Password strength:</span> Strong
            <ul class="pw-strength">
                <li>
                    <div class="str-0 fill"></div>
                </li>
                <li>
                    <div class="str-0 fill"></div>
                </li>
                <li>
                    <div class="str-0 fill"></div>
                </li>
                <li>
                    <div class="str-0 fill"></div>
                </li>
                <li>
                    <div class="str-0 fill"></div>
                </li>
                <li>
                    <div class="str-0"></div>
                </li>
                <li>
                    <div class="str-0"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group d-flex justify-content-between">
        <div class="checkbox">
            <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label> -->
            <mat-checkbox color="accent" class="esg-mat-form-checkbox">Remember me</mat-checkbox>
        </div>
        <div class="otp">
            <a (click)="loginWithOTP()">Login with OTP</a>
        </div>
    </div>
    <div class="form-group">
        <p-captcha formControlName="captchaId" siteKey="{{siteKey}}" (onResponse)="showResponse($event)"
            (onExpire)="resetCaptchaResponse()"></p-captcha>
        <!-- <div class="g-recaptcha" id="rcaptcha" data-sitekey="site key"></div>
        <span id="captcha" style="color:red"></span> -->
    </div>
    <div class="form-group text-center">
        <button mat-flat-button color="accent" type="submit" class="esg-mat-form-button mb-3">Login</button>
        <p>Forgot password? <a role="button">Contact ESG team</a></p>
        <p>New User? <a role="button" [routerLink]="['/auth/signup']">Sign up</a></p>
    </div>
</form>
<p-toast position="bottom-center"></p-toast>
