<h2 class="h2">Company Profile</h2>
<div class="row">
  <div class="col">
    <div class="upload d-flex align-items-center justify-content-center">
      <div class="text-center upload-info">
        <img src="assets/img/img.png" alt="">
        <p>
          Upload your Company logo image
          <span>(Recommended aspect ratio: 512 X 256 px)</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="upload d-flex align-items-center justify-content-center">
      <div class="text-center upload-info">
        <img src="assets/img/img.png" alt="">
        <p>
          Upload your Company login background
          <span>(Recommended aspect ratio: 1024 x 512 px)</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">

    <hr>
    <button type="button" class="btn btn-primary btn-sm btn-mn">Save</button>
    <button type="button" class="btn btn-secondary btn-sm btn-mn ml-2">Cancel</button>
  </div>
</div>
