<!-- <div class="user-list-wrap">
    <div class="container">
        <div class="top-header">
            <a class="span-link" [routerLink]="['/dashboard']">
                <svg class="color-icon-fill" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z" fill="#808080" />
                </svg>
                User Settings
            </a>
            <button type="button" class="esg_button small btn_custom_green" (click)="addEditDialog(0, null)">+ Add
                User</button>
        </div>
        <div *ngIf="userListMsg && store.companySubscription">
            <p-messages severity="success" styleClass="esg-template">
                <ng-template pTemplate>
                    <div class="inner-html">
                        <div class="flex v-center flex-wrap">
                            <svg class="color-icon-fill" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM11 15H9V9H11V15ZM11 7H9V5H11V7Z"
                                    fill="#69793B" />
                            </svg>
                            &nbsp; &nbsp;
                            <span class="custom-message">
                                Your <strong>ESG</strong> licence is expiring in
                                <strong>{{store?.companySubscription?.noOfDaysLeftToExpire}}
                                    {{store?.companySubscription?.noOfDaysLeftToExpire>1?'days':'day'}}</strong>, please
                                renew
                                your licence bfore due date <strong>{{store?.companySubscription?.validTo | date:'MMM d,
                                    y'}} or </strong>
                            </span>
                            <button type="button" class="renew-btn">Renew Now!</button>
                        </div>
                        <a class="span-link" (click)="handleUserMsgBox()">
                            <svg class="color-icon-fill" width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
                                    fill="#69793B" />
                            </svg>
                        </a>
                    </div>
                </ng-template>
            </p-messages>
        </div>
        <div class="user-body">
            <div class="flex space-between v-center">
                <ul class="esg-tabs width-100">
                    <li ngClass="{{status==0 ?'active':''}}">
                        <a class="span-link" (click)="handleTab(0)">All</a>
                    </li>
                    <li ngClass="{{status==1 ?'active':''}}">
                        <a class="span-link" (click)="handleTab(1)">Active</a>
                    </li>
                    <li ngClass="{{status==2 ?'active':''}}">
                        <a class="span-link" (click)="handleTab(2)">Inactive</a>
                    </li>
                </ul>
                <span class="span-link" (click)="openFilterdialog()">
                    <svg class="color-icon" width="16" height="16" viewBox="0 0 16 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.250178 1.61C2.27018 4.2 6.00018 9 6.00018 9V15C6.00018 15.55 6.45018 16 7.00018 16H9.00018C9.55018 16 10.0002 15.55 10.0002 15V9C10.0002 9 13.7202 4.2 15.7402 1.61C16.2502 0.95 15.7802 0 14.9502 0H1.04018C0.210178 0 -0.259822 0.95 0.250178 1.61Z"
                            fill="#69793B" />
                    </svg>
                </span>
            </div>
            <div class="esg-table-wrap user-list-wrap">
                <h3 class="records-info" *ngIf="filtered && filtered?.totalCount>0">Showing
                    <strong>{{handleStartNumber()}}</strong>
                    to <strong>{{handleEndNumber()}}</strong>
                    of <strong>{{filtered && filtered?.totalCount}}</strong> entries
                </h3>
                <table class="">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>User Type</th>
                            <th>Designation</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Activity</th>
                            <th>Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="filtered && filtered.totalCount==-1">
                        <td colspan="100">Loading</td>
                    </tbody>
                    <tbody *ngIf="filtered && filtered.totalCount==0">
                        <td colspan="100">No Records</td>
                    </tbody>
                    <tbody *ngIf="filtered.data && filtered.data.length>0">
                        <tr *ngFor="let item of filtered.data; let i = index;">
                            <td>
                                <div class="name-cell text-capitalize">
                                    <span class="name-badge mr-5">{{item?.firstName?.charAt(0)|| 'NA'}}</span>
                                    {{item?.firstName}} {{item?.lastName}}
                                </div>
                            </td>
                            <td>
                                {{item?.role}}
                            </td>
                            <td>
                                {{item?.designation}}
                            </td>
                            <td>
                                {{item?.email}}
                            </td>
                            <td>
                                {{item?.phoneNumber}}
                            </td>
                            <td>
                                <span class="status__circle left green">

                                </span>
                                Online
                            </td>
                            <td>
                                <span class="userStatus"
                                    ngClass="{{item?.statusId==2 ?'inactive':'active'}}">{{item?.status}}</span>
                            </td>
                            <td class="text-center">
                                <span class="span-link" (click)="addEditDialog(1, item)" *ngIf="authData?.id !=item.id">
                                    <svg class="color-icon-fill" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3 17.2501V21.0001H6.75L17.81 9.94006L14.06 6.19006L3 17.2501ZM20.71 7.04006C21.1 6.65006 21.1 6.02006 20.71 5.63006L18.37 3.29006C17.98 2.90006 17.35 2.90006 16.96 3.29006L15.13 5.12006L18.88 8.87006L20.71 7.04006Z"
                                            fill="#69793B" />
                                    </svg>

                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-md-12 col-sm-12 flex-right" *ngIf="filtered && filtered?.totalCount>0">
                <p-paginator [rows]="pageLimit" [totalRecords]="filtered?.totalCount" (onPageChange)="paginate($event)">
                </p-paginator>
            </div>
            <div class="clearfix"
                *ngIf="store?.companySubscription?.noOfActiveUsers<store?.companySubscription?.noOfUsers">
                <button type="button" class="small esg_button btn_custom_gray" (click)="addEditDialog(0, null)">+ Add
                    User</button>
            </div>
        </div>
    </div>
</div> -->
<div id="wrap">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading d-flex mb-3 align-items-center justify-content-between">
                    <h1 class="title cursor-pointer" [routerLink]="['/dashboard']"><i class="fa fa-arrow-left"></i> User
                        Settings</h1>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#add-user" (click)="addUser()">+ Add User</button>
                </div>
                <div class="alert alert-success alert-dismissible fade show mt-2 mb-4" role="alert" *ngIf="userListMsg">
                    <img src="assets/img/info.png" alt="">
                    Your <span>ESG</span> licence is expiring in <span>60</span> days, please renew your licence bfore
                    due date <span>31 March, 2022</span> Or <a href="#" class="renew-btn">Renew Now!</a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                        (click)="handleUserMsgBox()"></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pos-rel">
                <ul class="nav nav-tabs us-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" [ngClass]="{'active': selectedTabUrl === 2}" id="all-tab"
                            data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all"
                            aria-selected="true" (click)="handleTab(2)">all</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [ngClass]="{'active': selectedTabUrl === 1}" id="active-tab"
                            data-bs-toggle="tab" data-bs-target="#active" type="button" role="tab"
                            aria-controls="active" aria-selected="false" (click)="handleTab(1)">active</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [ngClass]="{'active': selectedTabUrl === 0}" id="inactive-tab"
                            data-bs-toggle="tab" data-bs-target="#inactive" type="button" role="tab"
                            aria-controls="inactive" aria-selected="false" (click)="handleTab(0)">inactive</button>
                    </li>
                </ul>
                <a class="us-filter color-primary" data-bs-toggle="offcanvas" role="button" aria-controls="usfilter"
                    (click)="openFilterdialog()"><i class="fa fa-filter"></i></a>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <div class="table-responsive">
                            <table class="table table-us">

                                <tbody *ngIf="filtered && filtered.length==0">
                                    <td colspan="100">No Records found.</td>
                                </tbody>
                                <tbody *ngIf="filtered && filtered.length>0">
                                    <tr>
                                        <th>Name <i class="fa fa-angle-down"></i></th>
                                        <th>User ID <i class="fa fa-angle-down"></i></th>
                                        <th>User Type <i class="fa fa-angle-down"></i></th>
                                        <th>Locations <i class="fa fa-angle-down"></i></th>
                                        <th>Designation <i class="fa fa-angle-down"></i></th>
                                        <th>Email <i class="fa fa-angle-down"></i></th>
                                        <th>Phone <i class="fa fa-angle-down"></i></th>
                                        <th>Status <i class="fa fa-angle-down"></i></th>
                                        <th>Action <i class="fa fa-angle-down"></i></th>
                                    </tr>
                                    <tr *ngFor="let item of filtered; let i = index;">
                                        <td>
                                            <div class="user">
                                                <span class="user-initial">{{item?.firstName?.charAt(0)|| 'NA'}}</span>
                                                <span class="user-name">{{item?.firstName}} {{item?.lastName}}</span>
                                            </div>
                                        </td>
                                        <td>{{item?.userUniqueId}}</td>
                                        <td class="user-initial">{{item?.userRole}}</td>
                                        <td>{{item?.location}}</td>
                                        <td>{{item?.designation}}</td>
                                        <td>{{item?.email}}</td>
                                        <td>{{item?.ccName}} {{item?.phoneNumber}}</td>
                                        <td>
                                            <span class="badge rounded-pill bg-green2">{{item?.userStatus === 0 ?
                                                'Inactive': 'Active' }}</span>
                                        </td>
                                        <td>
                                            <a class="color-primary" data-bs-toggle="offcanvas" role="button"
                                                aria-controls="offcanvasExample"><i class="fa fa-pencil"></i></a>
                                            <a class="color-grey ml-2"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar header="Filter" [(visible)]="displayFilterDialog" [position]="position" [modal]="true"
    [style]="{width: '95%', maxWidth:'360px', 'maxHeight':'100%'}" [draggable]="false">
    <h1 style="font-weight: normal">Filter</h1>
    <div class="form-group">
        <label for="">User Name</label>
        <input type="text" class="form-control" placeholder="User Name" name='userName'
            [(ngModel)]="filterDto['userName']" #userName="ngModel">
    </div>
    <div class="form-group">
        <label for="">Designation</label>
        <select class="form-control" name='designationId' (change)="handleDesinationChange($event, '2')"
            [(ngModel)]="filterDto['designationId']" #designationId="ngModel">
            <option value="">Select</option>
            <option *ngFor="let opt of master.userTypeList" [value]="opt?.id">
                {{opt?.name}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="">User Type</label>
        <select class="form-control" name='roleId' [(ngModel)]="filterDto['roleId']" #roleId="ngModel">
            <option value="">Select</option>
            <option *ngFor="let opt of master.userRoleList" [value]="opt?.id">
                {{opt?.name}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Site or Location</label>
        <select class="form-control" name='locationTypeId' [(ngModel)]="filterDto['locationTypeId']"
            #locationTypeId="ngModel" required>
            <option value="">Select</option>
            <option *ngFor="let opt of master.locationTypeMaster" [value]="opt?.locationTypeId">
                {{opt?.locationTypeName}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="
        form-control" placeholder="Enter Here" name='email' [(ngModel)]="filterDto['email']" #email="ngModel"
            pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <!-- <p *ngIf="(email.invalid && (email.dirty || email.touched)) || (submitted && email.invalid)" class="msgError">

            <span class="text-danger" *ngIf="email?.errors?.pattern">
                Invalid Email.
            </span>
        </p> -->
    </div>
    <div class="form-group">
        <label for="">Phone Number</label>
        <input type="text" class="form-control" placeholder="Enter Here" name='phoneNumber'
            [(ngModel)]="filterDto['phoneNumber']" #phoneNumber="ngModel">
    </div>
    <div class="form-group">
        <label for="">Status</label>
        <select class="form-control" name='statusId' [(ngModel)]="filterDto['statusId']" #statusId="ngModel">
            <option value="">Select</option>
            <option *ngFor="let opt of master.statusList" [value]="opt?.id">
                {{opt?.name}}
            </option>
        </select>
    </div>
    <ng-template pTemplate="footer">
        <div class="form-action border-top flex center">
            <!-- <button type="button" class="btn_custom_green" (click)="handleApplyFilter()">
                Apply
            </button>
            <button type="button" class="esg_button btn_custom_gray" (click)="resetFilter()">
                Cancel
            </button> -->
        </div>
    </ng-template>
</p-sidebar>
<p-sidebar header="Filter" [(visible)]="userDialog" [position]="position" [modal]="true"
    [style]="{width: '95%', maxWidth:'360px', 'maxHeight':'100%', 'z-index': 999}" [autoZIndex]="false"
    [draggable]="false">
    <app-user-form></app-user-form>
</p-sidebar>
<p-toast position="{{toastPosition}}" key="addEditCustomer"></p-toast>
