<form action="" class="form okt-form" (ngSubmit)="loginForm.form.valid &&  _sendDataToParent()" #loginForm="ngForm">
  <div class="form-group1">
    <label class="d-flex" for="">Email</label>
    <mat-form-field appearance="outline" class="esg-mat-form-input">
      <input type="text" placeholder="Enter email" autocomplete="off" [formControl]="frmUserName"
        [(ngModel)]="loginDetail.userName" matInput required />
    </mat-form-field>
    <div class="indi display-rtl otp">
      <a (click)="sendOTP()">Send OTP</a>
    </div>
  </div>
  <div class="form-group1">
    <label class="d-flex" for="">OTP</label>
    <mat-form-field appearance="outline" class="esg-mat-form-input">
      <input matInput placeholder="OTP" [type]="hide ? 'password' : 'text'" required [formControl]="frmPassword"
        [(ngModel)]="loginDetail.otpCode">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="form-group" *ngIf="isShowExpires">
    <p class="text-center">
      OTP expires in <span class="color-primary font-600">{{counter | formatTime}}</span> m
    </p>
  </div>
  <div class="form-group">
    <p-captcha formControlName="captchaId" siteKey="{{siteKey}}" (onResponse)="showResponse($event)"
      (onExpire)="resetCaptchaResponse()"></p-captcha>
    <!-- <div class="g-recaptcha" id="rcaptcha" data-sitekey="site key"></div>
    <span id="captcha" style="color:red"></span> -->
  </div>
  <div class="form-group text-center">
    <button mat-flat-button color="accent" type="submit" class="esg-mat-form-button mb-3">Login</button>
    <p>Forgot password? <a role="button">Contact ESG team</a></p>
    <p>New User? <a role="button" (click)="gotoSignup()">Sign up</a></p>
  </div>
</form>
<p-toast position="top-right"></p-toast>
