<app-header></app-header>
<!-- <div class="home__dashboard">
    <div class="container">
        <div class="home__dashboard__inner">
            <h2 class="home__dashboard__inner__heading">Home</h2>
            <ul class="home__dashboard__inner__grid row-same-height flex-wrap">
                <li class="col-same-height" [routerLink]="['/reports/datatemplates']">
                    <div class="content">
                        <div class="content__image">
                            <img src="../../assets/images/dashboard/esg-toolkit.svg" alt="esg-toolkit.svg">
                        </div>
                        <div class="content__name">ESG TOOL</div>
                    </div>
                </li>
                <li class="col-same-height" [routerLink]="['/account/settings']">
                    <div class="content">
                        <div class="content__image">
                            <img src="../../assets/images/dashboard/account-setting.svg" alt="account-setting.svg">
                        </div>
                        <div class="content__name">Accout Settings</div>
                    </div>
                </li>
                <li class="col-same-height" [routerLink]="['/user/list']">
                    <div class="content">
                        <div class="content__image">
                            <img src="../../assets/images/dashboard/user-setting.svg" alt="user-setting.svg">
                        </div>
                        <div class="content__name">User Settings</div>
                    </div>
                </li>
                <li class="col-same-height">
                    <div class="content">
                        <div class="content__image">
                            <img src="../../assets/images/dashboard/document.svg" alt="document.svg">
                        </div>
                        <div class="content__name">Documents</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->
<div id="wrap">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading d-flex mb-3">
                    <h1 class="title">Home</h1>
                </div>
                <div class="alert alert-success alert-dismissible fade mt-2 mb-4" [ngClass]="isShowMsg? 'show': 'hide'"
                    role="alert" *ngIf="!userSettingsEnabled">
                    <img src="assets/img/info.png" alt="">
                    Please setup your account in account settings
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                        (click)="isShowMsg=!isShowMsg"></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="well2 text-center d-flex align-items-center justify-content-center">
                    <div class="">
                        <img src="assets/img/esg-logo.png" alt="">
                        <h4>ESG Tool</h4>
                    </div>
                </a>
            </div>
            <div class="col" *ngIf="userRole === 1">
                <a [routerLink]="['/account/company-details']"
                    class="well2 text-center d-flex align-items-center justify-content-center">
                    <div class="">
                        <img src="assets/img/1.png" alt="">
                        <h4>Account Settings</h4>
                    </div>
                </a>
            </div>
            <div class="col" *ngIf="userRole === 1">
                <a (click)="openUserSettings()"
                    class="well2 text-center d-flex align-items-center justify-content-center">
                    <div class="">
                        <img src="assets/img/2.png" alt="">
                        <h4>User Settings</h4>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="well2 text-center d-flex align-items-center justify-content-center">
                    <div class="">
                        <img src="assets/img/3.png" alt="">
                        <h4>Documents</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
