.home__dashboard {
    &__inner {
        padding: 60px 0;
        &__heading {
            font-weight: 600;
            font-size: 18px;
            line-height: 16px;
            color: #173c13;
            margin-bottom: 50px;
        }
        &__grid {
            margin: 0 -10px;
            flex-wrap: wrap;
            li {
                width: 25%;
                padding: 0 10px;
                cursor: pointer;
                .content {
                    background: rgba(225, 225, 225, 0.4);
                    border: 1px solid #e0e0e0;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 8px;
                    padding: 20px;
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    &__image{
                        height: 72px;
                        display: flex;
                        justify-content: flex-end;
                        margin: 50px 0;
                        img{
                            vertical-align: bottom;
                            align-items: bottom;
                        }
                    }
                    &__name {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 16px;
                        text-align: center;
                        color: #808080;
                        margin-bottom: 50px;
                    }
                }
                &:hover {
                    .content {
                        background: rgba(152, 163, 84, 0.1);
                        border: 1px solid #98a354;
                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                        &__name {
                            color: #212121;
                        }
                    }
                }
            }
        }
    }
}
