// $--themeColor: var(--themeColor);
// $--btnSuccessColor: var(--btnSuccessColor);

$--themeColor: #483D8B;
$--btnSuccessColor: #483D8B;

$esg-green: (
  primary-main: #455b2d,
  primary-lighter: #c7cec0,
  primary-darker: #2e401c,
  primary-200: #455b2d, 
  primary-contrast-main: #ffffff,
  primary-contrast-lighter: #000000,
  primary-contrast-darker: #ffffff,

  accent-main: #69793b,
  accent-lighter:#d2d7c4,
  accent-darker: #4c5c26,
  accent-200: #69793b, 
  accent-contrast-main: #ffffff,
  accent-contrast-lighter: #000000,
  accent-contrast-darker: #ffffff,

  warn-main: #ff0000,
  warn-lighter: #ffb3b3,
  warn-darker: #ff0000,
  warn-200: #ff0000, 
  warn-contrast-main: #ffffff,
  warn-contrast-lighter: #000000,
  warn-contrast-darker: #ffffff,
);

$esg-blue: (
  primary-main: #483d8b,
  primary-lighter: #c8c5dc,
  primary-darker: #30276e,
  primary-200: #483d8b, 
  primary-contrast-main: #ffffff,
  primary-contrast-lighter: #000000,
  primary-contrast-darker: #ffffff,

  accent-main: #483d8b,
  accent-lighter: #c8c5dc,
  accent-darker: #30276e,
  accent-200: #483d8b, 
  accent-contrast-main: #ffffff,
  accent-contrast-lighter: #000000,
  accent-contrast-darker: #ffffff,

  warn-main: #ff0000,
  warn-lighter: #ffb3b3,
  warn-darker: #ff0000,
  warn-200: #ff0000, 
  warn-contrast-main: #ffffff,
  warn-contrast-lighter: #000000,
  warn-contrast-darker: #ffffff,
);

$esg-teal: (
  primary-main: #008080,
  primary-lighter: #b3d9d9,
  primary-darker: #242525,
  primary-200: #008080, 
  primary-contrast-main: #ffffff,
  primary-contrast-lighter: #000000,
  primary-contrast-darker: #ffffff,

  accent-main: #008080,
  accent-lighter: #b3d9d9,
  accent-darker: #242525,
  accent-200: #008080, 
  accent-contrast-main: #ffffff,
  accent-contrast-lighter: #000000,
  accent-contrast-darker: #ffffff,

  warn-main: #ff0000,
  warn-lighter: #ffb3b3,
  warn-darker: #ff0000,
  warn-200: #ff0000, 
  warn-contrast-main: #ffffff,
  warn-contrast-lighter: #000000,
  warn-contrast-darker: #ffffff,
);

$esg-coral: ( 
  primary-main: #ff7f50,
  primary-lighter: #ffd9cb,  
  primary-darker: #ff6237,
  primary-200: #ff7f50, 
  primary-contrast-main: #ffffff,
  primary-contrast-lighter: #000000,
  primary-contrast-darker: #ffffff,

  accent-main: #ff7f50,
  accent-lighter: #ffd9cb,  
  accent-darker: #ff6237,
  accent-200: #ff7f50, 
  accent-contrast-main: #ffffff,
  accent-contrast-lighter: #000000,
  accent-contrast-darker: #ffffff,

  warn-main: #ff0000,
  warn-lighter: #ffb3b3,
  warn-darker: #ff0000,
  warn-200: #ff0000, 
  warn-contrast-main: #ffffff,
  warn-contrast-lighter: #000000,
  warn-contrast-darker: #ffffff,
);

@mixin set-mat-color($property: null, $key: null) {
  .green-theme & {
    #{$property}: map-get($esg-green, $key);
  }
  .blue-theme & {
   #{$property}: map-get($esg-blue, $key);
  }
  .teal-theme & {
   #{$property}: map-get($esg-teal, $key);
  }
  .coral-theme & {
   #{$property}: map-get($esg-coral, $key);
  }
}

