@use '@angular/material' as mat;
@import "./variables";

@include mat.core();

// Default Green Theme
$mat-default-primary: (
  main: map-get($esg-green, primary-main),
  lighter: map-get($esg-green, primary-lighter),
  darker: map-get($esg-green, primary-darker),
  200: map-get($esg-green, primary-main), 
  contrast : (
    main: map-get($esg-green, primary-contrast-main),
    lighter: map-get($esg-green, primary-contrast-lighter),
    darker: map-get($esg-green, primary-contrast-darker)
  )
);
$mat-default-accent: (
  main: map-get($esg-green, accent-main),
  lighter: map-get($esg-green, accent-lighter),
  darker: map-get($esg-green, accent-darker),
  200: map-get($esg-green, accent-main), 
  contrast : (
    main: map-get($esg-green, accent-contrast-main),
    lighter: map-get($esg-green, accent-contrast-lighter),
    darker: map-get($esg-green, accent-contrast-darker)
  )
);
$mat-default-warn: (
  main: map-get($esg-green, warn-main),
  lighter: map-get($esg-green, warn-lighter),
  darker: map-get($esg-green, warn-darker),
  200: map-get($esg-green, warn-main), 
  contrast : (
    main: map-get($esg-green, warn-contrast-main),
    lighter: map-get($esg-green, warn-contrast-lighter),
    darker: map-get($esg-green, warn-contrast-darker)
  )
);
$default-primary: mat.define-palette($mat-default-primary, main, lighter, darker);
$default-accent: mat.define-palette($mat-default-accent, main, lighter, darker);
$default-warn: mat.define-palette($mat-default-warn, main, lighter, darker);
$default-theme: mat.define-light-theme((
 color: (
   primary: $default-primary,
   accent: $default-accent,
   warn: $default-warn,
 )
));

// Blue theme
$mat-blue-primary: (
  main: map-get($esg-blue, primary-main),
  lighter: map-get($esg-blue, primary-lighter),
  darker: map-get($esg-blue, primary-darker),
  200: map-get($esg-blue, primary-main), 
  contrast : (
    main: map-get($esg-blue, primary-contrast-main),
    lighter: map-get($esg-blue, primary-contrast-lighter),
    darker: map-get($esg-blue, primary-contrast-darker)
  )
);
$mat-blue-accent: (
  main: map-get($esg-blue, accent-main),
  lighter: map-get($esg-blue, accent-lighter),
  darker: map-get($esg-blue, accent-darker),
  200: map-get($esg-blue, accent-main), 
  contrast : (
    main: map-get($esg-blue, accent-contrast-main),
    lighter: map-get($esg-blue, accent-contrast-lighter),
    darker: map-get($esg-blue, accent-contrast-darker)
  )
);
$mat-blue-warn: (
  main: map-get($esg-blue, warn-main),
  lighter: map-get($esg-blue, warn-lighter),
  darker: map-get($esg-blue, warn-darker),
  200: map-get($esg-blue, warn-main), 
  contrast : (
    main: map-get($esg-blue, warn-contrast-main),
    lighter: map-get($esg-blue, warn-contrast-lighter),
    darker: map-get($esg-blue, warn-contrast-darker)
  )
);
$blue-primary: mat.define-palette($mat-blue-primary, main, lighter, darker);
$blue-accent: mat.define-palette($mat-blue-accent, main, lighter, darker);
$blue-warn: mat.define-palette($mat-blue-warn, main, lighter, darker);
$blue-theme: mat.define-light-theme((
 color: (
   primary: $blue-primary,
   accent: $blue-accent,
   warn: $blue-warn,
 )
));

// Teal theme
$mat-teal-primary: (
  main: map-get($esg-teal, primary-main),
  lighter: map-get($esg-teal, primary-lighter),
  darker: map-get($esg-teal, primary-darker),
  200: map-get($esg-teal, primary-main), 
  contrast : (
    main: map-get($esg-teal, primary-contrast-main),
    lighter: map-get($esg-teal, primary-contrast-lighter),
    darker: map-get($esg-teal, primary-contrast-darker)
  )
);
$mat-teal-accent: (
  main: map-get($esg-teal, accent-main),
  lighter: map-get($esg-teal, accent-lighter),
  darker: map-get($esg-teal, accent-darker),
  200: map-get($esg-teal, accent-main), 
  contrast : (
    main: map-get($esg-teal, accent-contrast-main),
    lighter: map-get($esg-teal, accent-contrast-lighter),
    darker: map-get($esg-teal, accent-contrast-darker)
  )
);
$mat-teal-warn: (
  main: map-get($esg-teal, warn-main),
  lighter: map-get($esg-teal, warn-lighter),
  darker: map-get($esg-teal, warn-darker),
  200: map-get($esg-teal, warn-main), 
  contrast : (
    main: map-get($esg-teal, warn-contrast-main),
    lighter: map-get($esg-teal, warn-contrast-lighter),
    darker: map-get($esg-teal, warn-contrast-darker)
  )
);
$teal-primary: mat.define-palette($mat-teal-primary, main, lighter, darker);
$teal-accent: mat.define-palette($mat-teal-accent, main, lighter, darker);
$teal-warn: mat.define-palette($mat-teal-warn, main, lighter, darker);
$teal-theme: mat.define-light-theme((
 color: (
   primary: $teal-primary,
   accent: $teal-accent,
   warn: $teal-warn,
 )
));

// Coral theme
$mat-coral-primary: (
  main: map-get($esg-coral, primary-main),
  lighter: map-get($esg-coral, primary-lighter),
  darker: map-get($esg-coral, primary-darker),
  200: map-get($esg-coral, primary-main), 
  contrast : (
    main: map-get($esg-coral, primary-contrast-main),
    lighter: map-get($esg-coral, primary-contrast-lighter),
    darker: map-get($esg-coral, primary-contrast-darker)
  )
);
$mat-coral-accent: (
  main: map-get($esg-coral, accent-main),
  lighter: map-get($esg-coral, accent-lighter),
  darker: map-get($esg-coral, accent-darker),
  200: map-get($esg-coral, accent-main), 
  contrast : (
    main: map-get($esg-coral, accent-contrast-main),
    lighter: map-get($esg-coral, accent-contrast-lighter),
    darker: map-get($esg-coral, accent-contrast-darker)
  )
);
$mat-coral-warn: (
  main: map-get($esg-coral, warn-main),
  lighter: map-get($esg-coral, warn-lighter),
  darker: map-get($esg-coral, warn-darker),
  200: map-get($esg-coral, warn-main), 
  contrast : (
    main: map-get($esg-coral, warn-contrast-main),
    lighter: map-get($esg-coral, warn-contrast-lighter),
    darker: map-get($esg-coral, warn-contrast-darker)
  )
);
$coral-primary: mat.define-palette($mat-coral-primary, main, lighter, darker);
$coral-accent: mat.define-palette($mat-coral-accent, main, lighter, darker);
$coral-warn: mat.define-palette($mat-coral-warn, main, lighter, darker);
$coral-theme: mat.define-light-theme((
 color: (
   primary: $coral-primary,
   accent: $coral-accent,
   warn: $coral-warn,
 )
));

// Apply the default theme by default
@include mat.core-theme($default-theme);
@include mat.all-component-themes($default-theme);

.blue-theme {
 @include mat.core-color($blue-theme);
 @include mat.all-component-colors($blue-theme);
// @include mat.button-color($blue-theme);
}

.teal-theme {
  @include mat.core-color($teal-theme);
  @include mat.all-component-colors($teal-theme);
 }

 .coral-theme {
  @include mat.core-color($coral-theme);
  @include mat.all-component-colors($coral-theme);
 }

