@import "./custom-theme";
.auth-wrapper {
    min-height: 100vh;
    height: auto;
    background: url("../assets/images/auth/augh_bg.svg") center center no-repeat;
    //@include set-mat-color(background-color, primary-main);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    .form-wrapper {
        background: white;
        max-width: 420px;
        border-radius: 6px;
        border: 1px solid #ffffff;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.24);
        border-radius: 6px;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        padding: 68px 40px;
        .form-wrapper-inner {
            width: 100%;
            max-width: 270px;
        }
        &.register {
            max-width: 600px;
            .form-wrapper-inner {
                max-width: 100%;
            }
        }
    }

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #212121;
        margin-bottom: 22px;
    }

    .login-type li {
        min-height: 54px;
        background: rgba(225, 225, 225, 0.4);
        border: 1px solid #dddddd;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        color: #212121;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        position: relative;
        cursor: pointer;

        &.active {
            color: #173c13;
            border: 1px $--themeColor solid;
            pointer-events: none;
        }
    }
}

.checked {
    width: 24px;
    height: 24px;
    background: url(../assets/images/icons/tick_white.svg) $--themeColor center center no-repeat;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.auth-wrapper .login-action {
    margin-top: 22px;
}

.esg_button {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 32px;
    border: 1px transparent solid;
    border-radius: 6px;
    &.small {
        padding: 8px 12px;
    }
}
.btn_custom_green {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    background: $--btnSuccessColor;
    padding: 8px 32px;
    border: 1px transparent solid;
    border-radius: 6px;
}
.btn_custom_green_border {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    border:1px $--btnSuccessColor solid;
    padding: 8px 32px;
    border-radius: 6px;
    color:black
}

.btn_custom_gray {
    color: #111111;
    background: #e1e1e1;
}
.auth-wrapper .logo {
    margin-bottom: 40px;
}
.otp-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 36px 0;
}
.otp-box li {
    padding: 0 10px;
}
.otp-resend-msg,
.resend-otp {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #808080;
}
.otp-resend-msg {
    font-weight: normal;
}
.resend-otp {
    font-weight: 600;
}

.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}

/* Table Styles */
.esg-table-wrap {
    width: 100%;
    overflow: auto;
    table {
        width: 100%;
        border-collapse: collapse;
        th {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #212121;
            border-bottom: 1px solid #cfcfcf;
            padding: 10px 5px;
        }
        td {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #808080;
            border-bottom: 1px solid #e0e0e0;
            padding: 20px 5px;
        }
    }
}

.esg-tabs {
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    li {
        a {
            display: block;
            height: 44px;
            background: #f4f4f4;
            border: 1px solid #e0e0e0;
            border-bottom: 0px;
            border-radius: 0px;
            padding: 14px 20px;
            color: #808080;
        }
        &.active,
        &:hover {
            a {
                background: $--themeColor;
                color: white;
            }
        }
        &:first-child {
            a {
                border-radius: 10px 0 0 0;
            }
        }
        &:last-child {
            a {
                border-radius: 0 10px 0 0;
            }
        }
    }
}

.clearfix {
    clear: both;
}
.text_green {
    color: $--themeColor !important;
}

.esg-template {
    .p-message.p-message-success {
        background: rgba(152, 163, 84, 0.1);
        border: 1px solid $--themeColor;
        color: #808080;
        strong {
            color: #455b2d;
        }
    }
    .inner-html {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.form-action {
    button {
        margin-right: 15px;
        &:last-child {
            margin-right: 0px;
        }
    }
}
.form-group {
    margin-bottom: 25px;
}
.msgError {
    position: absolute;
    left: 0;
    top: 100%;
    .text-danger {
        font-size: 12px;
    }
}

.span-link {
    display: inline-block;
    cursor: pointer;
}
.span-link-color {
    border-bottom:1px $--btnSuccessColor solid;
    color:black;
    display: inline-block;
    cursor: pointer;
}
.show_on_hover:hover {
    .dropdown-menu {
        display: block;
    }
    .header_dropdown {
        a {
            color: black !important;
        }
    }
}
.no-overflow {
    overflow: hidden;
}
.dropdown-menu.from-right {
    right: 0px !important;
    left: auto !important;
}
.text-mandate {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: $--themeColor;
}

.border-top {
    border-top: 1px solid #cfcfcf;
}
.phone-number-input {
    display: flex;
    align-items: flex-start;
    .country-code {
        width: 100px;
        margin-right: 10px;
    }
}
.theme-list-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
    li {
        padding: 0 15px;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.theme-name {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #212121;
    margin-top: 5px;
}
.theme-circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    background: #69793b;
    border: 1px black solid;
    &.selected::after {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 12px;
        height: 12px;
        content: "";
        transform: translate(-50%, -50%);
        background: url(../assets/images/icons/selectedTheme.svg) center center no-repeat;
    }
    // &.default {
    //     background: #69793b;
    // }
    // &.darkSlateBlue {
    //     background: #483d8b;
    // }
    // &.teal {
    //     background: #008080;
    // }
    // &.coral {
    //     background: #ff7f50;
    // }
}
.form-group-alt {
    margin-bottom: 20px;
}
.form-action {
    padding-top: 20px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    a {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 16px;
        color: #173c13;
        svg {
            margin-right: 10px;
        }
    }
}

.color-icon-fill * {
    fill: $--themeColor;
}
.progressbar-wrapper {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    margin-top: -10px;
    padding: 0 5px;
}
.p-progressbar {
    height: 5px;
}

.upload-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.placehoder-hover {
        visibility: hidden;
        display: none;
    }
}
.custom-dropzone {
    height: auto !important;
    min-height: 180px;
    position: relative;
    .close-icon {
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 10;
        font-size: 18px;
    }
}
.custom-dropzone:hover {
    .placehoder-hover {
        visibility: visible;
        background: rgba(0, 0, 0, 0.24);
        color: white;
    }
}

.otp-input {
    width: 35px !important;
    height: 35px !important;
    font-size: 14px !important;
    border: 1px solid #d0d0d0 !important;
}
.main-logo {
    max-height: 40px;
    width: auto;
}
.user-dialog-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin: 0px;
        padding: 0px;
        color: #212121;
    }
}

.records-info {
    font-size: 16px;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.read-mode {
    pointer-events: none;
}

.form-sub-heading {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
}

.captcha-wraper {
    position: relative;
    height: 100px;
    .captcha-innner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.bolck{
    display: block;
    width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-form-field-flex > .mat-form-field-infix {
    border-top: 0px;
}
