@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "./custom-theme";

$primary: #69793B;
$secondary: #98A354;
$text-dark: #212121;
$text-light: #9B9B9B;
$text-grey: #808080;

body {
  font-family: 'Montserrat', sans-serif;
  color: $text-dark;
  font-size: 12px;
}

.hide {
  display: none;
}

.color-primary {
  // color: $primary;
  @include set-mat-color(color, accent-main);

  &:hover {
    color: $secondary;
  }
}

a.color-grey {
  color: $text-grey;

  &:hover {
    color: $text-dark;
  }
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

h1 {
  font-weight: 500;
  font-size: 20px;
  color: $text-dark;

  &.small {
    font-size: 14px;
    line-height: 20px;
  }

  &.title {
    font-weight: 600;
    font-size: 18px;
    color: #173C13;

    i {
      color: $text-grey;
    }
  }
}

.bg {
  background: url(../assets/img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.form-group {
  margin-bottom: 20px;
}

.well {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.24);
  border-radius: 6px;
  padding: 20px 50px;
  /*margin-top: 60px;*/
}

.form-check-input:focus {
  border-color: #D0D0D0;
  box-shadow: none;
}

.form-check-input:checked {
  background: $primary;
  border-color: $primary;
}

input.form-control {
  font-size: 12px;
  color: $text-dark;
}

.btn-mn {
  min-width: 120px;
}

.btn.btn-primary {
  font-weight: 600;
  font-size: 12px;
  // background: $primary;
  // border-color: $primary;
  @include set-mat-color(background-color, accent-main);
  @include set-mat-color(border-color, accent-main);
  border-radius: 6px;
  padding: 6px 20px;

  &:focus {
    box-shadow: none;
  }
}

.btn.btn-secondary {
  font-weight: 600;
  font-size: 12px;
  color: #111111;
  background-color: #E1E1E1;
  border-color: #E1E1E1;
  border-radius: 6px;
  padding: 6px 20px;

  &:focus {
    box-shadow: none;
  }
}

.okt-form {
  a {
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    // color: $primary;
    @include set-mat-color(color, accent-main);
  }

  p {
    font-weight: 400;
    font-size: 12px;
    color: $text-grey;
  }

  label {
    font-weight: 500;
    margin-bottom: 5px;
  }

  label.form-check-label {
    @extend p;
  }

  .pw {
    position: relative;

    i {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $text-grey;
      cursor: pointer;
    }
  }
}

.indi {
  color: $secondary;
  font-weight: 500;
  margin-top: 10px;

  span {
    color: $text-grey;
    font-weight: 400;
  }
}

ul.pw-strength {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;

  li {
    display: inherit;
  }

  .str-0 {
    width: 12px;
    height: 4px;
    background: #C4C4C4;
    border-radius: 16px;

    &.fill {
      background: $secondary;
    }
  }
}

p {
  &.msg {
    font-weight: 500;
    font-size: 14px;
    color: $text-grey;
  }
}


.bg-primary1 {
  @include set-mat-color(background-color, accent-main);

  .dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 50%;
    color: #fff;
    font-size: 16px;
  }
}

.navbar-nav {
  line-height: 30px;

  .dropdown-menu {
    position: absolute;
    right: 0;
    overflow: hidden;
    font-size: 12px;
  }
}

.user-dp {
  img {
    height: 30px;
    width: 30px;
  }

  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin-bottom: 0;
    margin: 0 10px;

    small {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #FFFFFF;
      opacity: 0.8;
      display: block;
    }
  }
}

#wrap {
  min-height: 100vh;
  padding-top: 60px;
}

footer.footer {
  border-top: 1px solid #E0E0E0;
  padding: 15px 0;
  font-weight: 500;
  font-size: 12px;
  color: $text-grey;

  ul {
    margin-bottom: 0;
  }
}

.btn-tour {
  border: 1px solid $primary;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
  color: $primary;
}

.alert {
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  color: #808080;

  &.alert-success {
    background: rgba(152, 163, 84, 0.1);
    border: 1px solid #98A354;
  }

  .renew-btn {
    background: #212121;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    text-decoration: none;
    padding: 6px 10px;
    margin-left: 10px;
  }

  span {
    font-weight: 600;
    color: #173C13;
  }
}

.well2 {
  background: rgba(225, 225, 225, 0.4);
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  min-height: 280px;
  position: relative;
  margin-bottom: 40px;
  text-decoration: none;

  &.dotted {
    border: 1px dashed #808080;
    box-shadow: none;
  }

  &:hover {
    background: rgba(152, 163, 84, 0.1);
    border: 1px solid #98A354;
    cursor: pointer;

    img {
      filter: grayscale(0%);
    }
  }

  img {
    /*max-width: 100px;*/
    max-height: 65px;
    filter: grayscale(100%);

  }

  .as-img {
    img {
      /*width: 120px !important;*/
    }
  }

  h4 {
    font-weight: 600;
    font-size: 16px;
    color: $text-dark;
    margin-top: 50px;
  }
}

.tool-settings {

  h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #173C13;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    color: $text-grey;
  }


}

hr {
  background: #CFCFCF;
}

.sidebar {
  background: #F4F4F4;
  min-height: 100vh;
  padding: 30px;
  margin-bottom: 50px;

  ul {
    li {
      font-weight: 500;
      font-size: 16px;
      color: $text-grey;
      border-bottom: 1px solid #CFCFCF;
      padding: 10px 0;

      &:hover {
        font-weight: 600;

        a {
          color: #173C13;
        }
      }

      &.active {
        @extend :hover;
      }

      a {
        color: $text-grey;
        text-decoration: none;
      }
    }
  }
}

h2.h2 {
  font-weight: 500;
  font-size: 20px;
  color: $text-dark;
  margin-bottom: 20px;
}

.upload {
  background: #F8F8F8;
  border: 1px dashed #D0D0D0;
  box-sizing: border-box;
  border-radius: 6px;
  min-height: 270px;
  margin-bottom: 20px;
  cursor: pointer;

  p {
    font-weight: 500;
    font-size: 14px;
    color: $text-grey;
    margin: 15px 0;

    span {
      display: block;
      font-weight: 400;
    }
  }
}

select.form-control {
  -webkit-appearance: menulist;
  @extend input;
}

.mt-ad {
  position: relative;
  top: 22px;
}

h5.h5 {
  font-weight: 500;
  font-size: 14px;
  color: $text-dark;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ml-2 {
  margin-left: 5px;
}

label span {
  color: #98A354;
}

.border-well {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px 25px;
}

.theme {
  text-align: center;
  margin-right: 15px;
  cursor: pointer;

  .color {
    background: $primary;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    line-height: 60px;

    i {
      color: #fff;
      display: none;
    }

  }

  * {
    text-align: center;
    margin: auto;
  }

  &.active {
    i {
      display: inline-block;
    }
  }

  p {
    font-weight: 500;
    font-size: 10px;
    color: $text-dark;
    margin-top: 5px;
  }

  &.blue {
    .color {
      background: #483D8B;
    }
  }

  &.teal {
    .color {
      background: #008080;
    }
  }

  &.coral {
    .color {
      background: #FF7F50;
    }
  }

  &.custom {
    .color {
      background: #fff;
      border: 1px solid #D0D0D0;

      i {
        display: inline-block;
        color: $primary;
      }
    }
  }
}

table.table-subscription {
  td {
    font-weight: 500;
    font-size: 12px;
    color: #111111;

    &:first-child {
      font-weight: 400;
      color: $text-dark;
    }

    i {
      color: $primary;
    }
  }
}

.btn-sm {
  padding: .25rem .5rem !important;
}

.badge {
  font-weight: 600;
  font-size: 10px;
  min-width: 60px;

  &.bg-green {
    @include set-mat-color(background-color, accent-main);
  }

  &.bg-green2 {
    background: $secondary;
  }
}

.table-us {
  td {
    font-weight: 500;
    color: $text-grey;
    padding: 15px 0px;
    text-align: center;
  }

  th {
    text-align: center;
    font-weight: 500;
    color: $text-dark;
  }
}

span.user-initial {
  background: #9B9B9B;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
}

.nav-tabs .nav-link {
  font-weight: 500;
  font-size: 14px;
  color: $text-grey;
  background: #F4F4F4;
  border: 1px solid #E0E0E0;
  text-transform: capitalize;

  &.active {
    color: #fff;
    background: $secondary;
  }
}

.us-tabs {
  .nav-links {
    font-weight: 500;
    font-size: 16px;
    color: $text-grey;
  }
}

.adduser-modal {

  .modal-header {
    border: none;
    padding: 2em 3em;

    h5 {
      font-weight: 500;
      font-size: 20px;
      color: $text-dark;
    }
  }

  .modal-body {
    padding: 2em 3em;
    padding-top: 0;
  }

  p {
    font-weight: 400;
    font-size: 10px;
    color: $text-grey;

    span {
      font-weight: 500;
      color: $primary;
    }

    i {
      @extend span;
    }
  }
}

.offcanvas {
  h5 {
    font-weight: 600;
    font-size: 14px;
    color: $text-dark;
  }

  .offcanvas-header {
    border-bottom: 1px solid #CFCFCF;
  }
}

.pos-rel {
  position: relative;
}

a.us-filter {
  position: absolute;
  top: 0;
  right: 15px;
}

.uploaded-logo {
  min-height: 270px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  overflow: hidden;

  img {
    /*min-width: 90%;*/
  }

  .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #F8D7DA;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;

    i {
      color: #DC3545;
    }
  }
}

.location-accordian {
  .accordion-button {
    font-size: 12px;
    padding: 6px;

    table {
      margin-bottom: 0;

      td {
        font-weight: 500;
      }
    }

    &:not(.collapsed) {
      color: $primary;
      background: $secondary;

      td {
        color: #fff;
      }

      &::after {
        color: #fff;
        filter: brightness(0) invert(1);
      }
    }

    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.accordion-button.loc-title {
  font-size: 12px;
  padding: 6px;

  table {
    margin-bottom: 0;

    td {
      font-weight: 600;
    }

    &::after {
      visibility: hidden;
    }
  }

  &::after {
    visibility: hidden;
  }

  &:not(.collapsed) {
    background: #fff;
  }

  &:focus {
    border: none;
    box-shadow: none;
  }
}

/*# sourceMappingURL=style.css.map */
.esg-mat-form {
  &-input {
    width: 100%;

    input {
      width: 100%;
    }

    .mat-form-field-infix {
      border: 0px;
    }

    .mat-form-field-label-wrapper {
      display: none;
    }
  }

  &-button {
    border-radius: 6px;
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 600;
  }

  &-checkbox {
    .mat-checkbox-label {
      font-size: 12px;
      font-weight: 400;
      color: #808080;
    }
  }

  &-select {
    width: 100%;

    .mat-form-field-infix {
      border: 0px;
    }

    .mat-select-arrow-wrapper {
      transform: none !important;
    }
  }
}

.okt-form .otp {
  padding: 4px 0px;

  a {
    cursor: pointer;
  }
}

.display-rtl {
  direction: rtl;
}

.esg-mat-signup-form {
  &-input {
    .mat-form-field-infix {
      border: 0px;
      width: auto;
    }

    .mat-form-field-label-wrapper {
      display: none;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
