<div class="bg d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-4">
        <div class="well">
          <div class="text-center">
            <img src="assets/img/logo.png" alt="">
            <h1 class="mt-4 mb-4">{{welcomeMsg}}</h1>
          </div>
          <app-signup-form *ngIf="signupSteps && signupSteps?.activeStep==1"
            (sendDataToParent)="eventFromChild($event)">
          </app-signup-form>
          <app-signup-by-otp *ngIf="signupSteps && signupSteps?.activeStep==2" [userInfo]="signupSteps">
          </app-signup-by-otp>
        </div>
      </div>
    </div>
  </div>
</div>
