<!-- <div class="container">
    <form #formInput="ngForm" id='userForm'>
        <div class="" *ngIf='userFormAttribute'>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>First Name <span class="text-mandate">*</span></label>
                        <input type="text" placeholder="First Name" class="form-control"
                            appInputRestriction="noSpecialChars" name='firstName'
                            [(ngModel)]="userFormAttribute['firstName']" #firstName="ngModel" required>
                        <p *ngIf="(firstName.invalid && (firstName.dirty || firstName.touched)) || (submitted && firstName.invalid)"
                            class="msgError">
                            <span class="text-danger" *ngIf="firstName?.errors?.required">
                                Required field.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>Last Name <span class="text-mandate">*</span></label>
                        <input type="text" placeholder="Last Name" class="form-control"
                            appInputRestriction="noSpecialChars" name='lastName'
                            [(ngModel)]="userFormAttribute['lastName']" #lastName="ngModel" required>
                        <p *ngIf="(lastName.invalid && (lastName.dirty || lastName.touched)) || (submitted && lastName.invalid)"
                            class="msgError">
                            <span class="text-danger" *ngIf="lastName?.errors?.required">
                                Required field.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>Designation <span class="text-mandate">*</span></label>
                        <select class="form-control" (change)="handleDesinationChange($event)" name='designationId'
                            [(ngModel)]="userFormAttribute['designationId']" #designationId="ngModel" required>
                            <option *ngFor="let opt of master.userTypeList" [value]="opt?.id">
                                {{opt?.name}}
                            </option>
                        </select>
                        <p *ngIf="(designationId.invalid && (designationId.dirty || designationId.touched)) || (submitted && designationId.invalid)"
                            class="msgError">
                            <span class="text-danger" *ngIf="designationId?.errors?.required">
                                Required field.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>User Type <span class="text-mandate">*</span></label>
                        <select class="form-control" name='role' [(ngModel)]="userFormAttribute['role']" #role="ngModel"
                            required>
                            <option value="">Select</option>
                            <option *ngFor="let opt of master.userRoleList" [value]="opt?.name">
                                {{opt?.name}}
                            </option>
                        </select>
                        <p *ngIf="(role.invalid && (role.dirty || role.touched)) || (submitted && role.invalid)"
                            class="msgError">
                            <span class="text-danger" *ngIf="role?.errors?.required">
                                Required field.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>Sites or Locations <span class="text-mandate">*</span></label>
                        <select class="form-control" (change)="handleLocationChange($event)" name='locationTypeId'
                            [(ngModel)]="userFormAttribute['locationTypeId']" #locationTypeId="ngModel" required>
                            <option *ngFor="let opt of master.locationTypeMaster" [value]="opt?.locationTypeId">
                                {{opt?.locationTypeName}}
                            </option>
                        </select>
                        <p *ngIf="(locationTypeId.invalid && (locationTypeId.dirty || locationTypeId.touched)) || (submitted && locationTypeId.invalid)"
                            class="msgError">
                            <span class="text-danger" *ngIf="locationTypeId?.errors?.required">
                                Required field.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>Email <span class="text-mandate">*</span></label>
                        <input type="text" placeholder="Email" class="form-control" name='email'
                            [(ngModel)]="userFormAttribute['email']" #email="ngModel"
                            pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                        <p *ngIf="(email.invalid && (email.dirty || email.touched)) || (submitted && email.invalid)"
                            class="msgError">
                            <span class="text-danger" *ngIf="email?.errors?.required">
                                Required field.
                            </span>
                            <span class="text-danger" *ngIf="email?.errors?.pattern">
                                Invalid Email.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>Phone Number <span class="text-mandate">*</span></label>
                        <div class="phone-number-input">
                            <select class="form-control country-code" name='countryCodeId'
                                [(ngModel)]="userFormAttribute['countryCodeId']" #countryCodeId="ngModel">
                                <option *ngFor="let opt of master.countryCodeListMaster" [value]="opt?.id">
                                    {{opt?.code}}
                                </option>
                            </select>
                            <input type="text" placeholder="Phone Number" class="form-control" digitOnly
                                name='phoneNumber' [(ngModel)]="userFormAttribute['phoneNumber']" #phoneNumber="ngModel"
                                maxlength="10" minlength="10" required>
                        </div>
                        <p *ngIf="(phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)) || (submitted && phoneNumber.invalid)"
                            class="msgError">
                            <span class="text-danger" *ngIf="phoneNumber?.errors?.required">
                                Required field.
                            </span>
                            <span class="text-danger"
                                *ngIf="phoneNumber?.errors?.maxlength || phoneNumber?.errors?.minlength">
                                Should be 10 digit
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6" *ngIf="dialogConfigData?.actionType==0">
                    <div class="form-group ">
                        <label>Password <span class="text-mandate">*</span></label>
                        <div class="password-field">
                            <input type="{{passwordType}}" placeholder="Password" class="form-control" name='password'
                                [(ngModel)]="userFormAttribute['password']" #password="ngModel" minlength="6" required>
                            <span class="visibility-icon" (click)='handlePasswordType()'>
                                <svg class="color-icon-fill" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 6.0002C15.79 6.0002 19.17 8.1302 20.82 11.5002C20.23 12.7202 19.4 13.7702 18.41 14.6202L19.82 16.0302C21.21 14.8002 22.31 13.2602 23 11.5002C21.27 7.1102 17 4.0002 12 4.0002C10.73 4.0002 9.51 4.2002 8.36 4.5702L10.01 6.2202C10.66 6.0902 11.32 6.0002 12 6.0002ZM10.93 7.14019L13 9.2102C13.57 9.4602 14.03 9.9202 14.28 10.4902L16.35 12.5602C16.43 12.2202 16.49 11.8602 16.49 11.4902C16.5 9.0102 14.48 7.0002 12 7.0002C11.63 7.0002 11.28 7.05019 10.93 7.14019ZM2.01 3.8702L4.69 6.5502C3.06 7.8302 1.77 9.5302 1 11.5002C2.73 15.8902 7 19.0002 12 19.0002C13.52 19.0002 14.98 18.7102 16.32 18.1802L19.74 21.6002L21.15 20.1902L3.42 2.4502L2.01 3.8702ZM9.51 11.3702L12.12 13.9802C12.08 13.9902 12.04 14.0002 12 14.0002C10.62 14.0002 9.5 12.8802 9.5 11.5002C9.5 11.4502 9.51 11.4202 9.51 11.3702ZM6.11 7.97019L7.86 9.7202C7.63 10.2702 7.5 10.8702 7.5 11.5002C7.5 13.9802 9.52 16.0002 12 16.0002C12.63 16.0002 13.23 15.8702 13.77 15.6402L14.75 16.6202C13.87 16.8602 12.95 17.0002 12 17.0002C8.21 17.0002 4.83 14.8702 3.18 11.5002C3.88 10.0702 4.9 8.89019 6.11 7.97019Z"
                                        fill="#808080" />
                                </svg>

                            </span>
                        </div>
                        <p *ngIf="(password.invalid && (password.dirty || password.touched)) || (submitted && password.invalid)"
                            class="msgError">
                            <span class="text-danger" *ngIf="password?.errors?.required">
                                Required field.
                            </span>
                            <span class="text-danger" *ngIf="password?.errors?.minlength">
                                Password should be Minimum 6 characters
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>Status <span class="text-mandate">*</span></label>
                        <select class="form-control" name='statusId' [(ngModel)]="userFormAttribute['statusId']"
                            #statusId="ngModel" required>
                            <option value="">Select</option>
                            <option *ngFor="let opt of master.statusList" [value]="opt?.id">
                                {{opt?.name}}
                            </option>
                        </select>
                        <p *ngIf="(statusId.invalid && (statusId.dirty || statusId.touched)) || (submitted && statusId.invalid)"
                            class="msgError">
                            <span class="text-danger" *ngIf="statusId?.errors?.required">
                                Required field.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="form-check form-group">
                        <input type="checkbox" class="form-check-input" id="isPrimaryContact" name='isPrimaryContact'
                            [(ngModel)]="userFormAttribute['isPrimaryContact']" #isPrimaryContact="ngModel">
                        <label class="form-check-label" for="isPrimaryContact">Prime point of contact</label>
                    </div>
                </div>
            </div>
            <div class="info-section form-group"
                *ngIf="dialogConfigData.actionType==0 && dialogConfigData?.companySubscription?.noOfActiveUsers>=dialogConfigData?.companySubscription?.noOfUsers">
                <svg class="color-icon-fill" width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM11 15H9V9H11V15ZM11 7H9V5H11V7Z"
                        fill="#69793B" />
                </svg>
                You have added
                <strong>&nbsp;{{dialogConfigData?.companySubscription?.noOfActiveUsers}}</strong>/{{dialogConfigData?.companySubscription?.noOfUsers}}
                active user
                account, to add more user please upgrade your <a href="">subscription plan</a>.
            </div>
            <div class="form-group form-action border-top"
                *ngIf="dialogConfigData?.actionType!==0 || dialogConfigData?.companySubscription?.noOfActiveUsers<dialogConfigData?.companySubscription?.noOfUsers">
                <button type="button" class="btn_custom_green" (click)='handleFormSubmit(formInput)'>
                    {{dialogConfigData?.actionType==0?'Save':'Update'}}
                </button>
                <button type="button" class="esg_button btn_custom_gray" (click)='handleFormClose(formInput)'>
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>
<p-toast position="{{toastPosition}}" key="addEditUser"></p-toast> -->

<h1 style="font-weight: normal">Add User</h1>
<form action="" class="form okt-form">
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="">First Name <span>*</span></label>
            <mat-form-field appearance="outline" class="esg-mat-signup-form-input w-100">
                <input type="text" placeholder="Enter First Name" formControlName="firstName" matInput required />
            </mat-form-field>
        </div>
        <div class="col-md-12 mb-3">
            <label for="">Last Name <span>*</span></label>
            <mat-form-field appearance="outline" class="esg-mat-signup-form-input w-100">
                <input type="text" placeholder="Enter Last Name" formControlName="lastName" matInput required />
            </mat-form-field>
        </div>
        <div class="col-md-12 mb-3">
            <label for="">User Type <span>*</span></label>
            <mat-form-field appearance="outline" class="esg-mat-form-select">
                <mat-select formControlName="userType">
                    <mat-option value="superuser">Super User</mat-option>
                    <mat-option value="contributor">Contributor</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="">Designation <span>*</span></label>
            <mat-form-field appearance="outline" class="esg-mat-form-select">
                <mat-select formControlName="designationId">
                    <mat-option value="1">Admin</mat-option>
                    <mat-option value="2">Project Manager</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-12 mb-3">
            <label for="">Department <span>*</span></label>
            <mat-form-field appearance="outline" class="esg-mat-form-select">
                <mat-select formControlName="designationId">
                    <mat-option value="1">Infrastructure</mat-option>
                    <mat-option value="2">Front Office</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="">Location <span>*</span></label>
            <mat-form-field appearance="outline" class="esg-mat-form-select">
                <mat-select formControlName="locationId">
                    <mat-option value="1">Bangalore</mat-option>
                    <mat-option value="2">Chennai</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-12 mb-3">
            <label for="">Email <span>*</span></label>
            <mat-form-field appearance="outline" class="esg-mat-signup-form-input w-100">
                <input type="email" placeholder="Enter Email" formControlName="email" matInput required />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="">Phone Number <span>*</span></label>
            <mat-form-field appearance="outline" class="esg-mat-signup-form-input w-100">
                <input type="text" placeholder="Enter Phone Number" formControlName="phoneno" matInput required />
            </mat-form-field>
        </div>
        <div class="col-md-12 mb-3">
            <label for="">Unique ID <span>*</span></label>
            <mat-form-field appearance="outline" class="esg-mat-form-input w-100">
                <input matInput type="text" formControlName="userUniqueId" />
            </mat-form-field>
        </div>
        <div class="col mb-3">
            <label for="">Password <span>*</span></label>
            <mat-form-field appearance="outline" class="esg-mat-signup-form-input w-100">
                <input matInput placeholder="Enter Password" [type]="hide ? 'password' : 'text'" required
                    formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="change-pw hide">
            <div class="col mb-3">
                <label for="">New Password <span>*</span></label>
                <input type="password" class="form-control" value="Name">
            </div>
            <div class="col mb-3">
                <label for="">Confirm Password <span>*</span></label>
                <input type="password" class="form-control" value="Name">
            </div>
        </div>
        <!-- <a class="mb-5">Change Password</a> -->
    </div>

    <hr>
    <button type="button" class="btn btn-primary btn-sm btn-mn">Save</button>
    <button type="button" class="btn btn-secondary btn-sm btn-mn" data-bs-dismiss="modal">Close</button>
</form>
