<div class="row">
  <div class="col text-center">
    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
  </div>
</div>
<div class="form-group mt-3 mb-4">
  <p class="text-center">
    OTP expires in <span class="color-primary font-600">{{counter | formatTime}}</span> m
  </p>
</div>
<div class="form-group text-center">
  <button mat-flat-button color="accent" type="button" class="esg-mat-form-button mb-3"
    (click)="submitOTP()">Submit</button>
  <p>Didn’t receive an OTP? <a role="button" (click)="sendOTP();">Resend OTP</a></p>
  <p><a role="button">Contact Us</a></p>
</div>


<p-toast position="top-right"></p-toast>
