* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: normal;
    font-family: "Montserrat", sans-serif;
}
body{
    width: 100%;
}
a {
    text-decoration: none;
}
ul,
ul li,
ol,
ol li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}
.form-group label {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #212121;
    margin-bottom: 5px;
}
.form-group label.form-check-label {
    font-size: 12px;
}
.form-control,
.form-control:focus {
    background: #ffffff;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 14px;
    color: #808080;
    &.height-auto {
        height: auto !important;
    }
}
.form-control:focus {
    box-shadow: none !important;
}

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.v-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.password-field {
    position: relative;
}
.password-field .visibility {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 24px;
    max-height: 24px;
}
/* Same Height Div */
.row-same-height {
    display: flex;
    &.flex-wrap {
        flex-wrap: wrap;
    }
    .col-same-height {
        display: flex;
        .content {
            width: 100%;
            height: 100%;
        }
    }
}


/* margins */
.m-t-5{
    margin-top: 5px;
}
.radious-6{
    border-radius: 6px;
}
ngx-dropzone-label {
    margin: 0px!important;
}

.width-100{
    width: 100%!important;
}