<nav class="navbar navbar-expand-lg bg-primary1">
    <div class="container-fluid d-flex align-items-md-center">
        <a class="navbar-brand" [routerLink]="['/']">
            <img *ngIf="userInfo?.imageId" src="{{docurl}}{{userInfo?.imageId}}" alt="header_logo">
            <img *ngIf="!userInfo?.imageId" src="../../../assets/images/icons/header_logo.svg" alt="header_logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <img src="../../../assets/img/flag.png" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../../../assets/img/search.png" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../../../assets/img/faq.png" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../../../assets/img/bell.png" alt="">
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" [ngClass]="{'show' : isShowDropdown}" (click)="toggleDropdown()"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="d-flex user-dp">
                            <img src="../../../assets/img/user.png" alt="">
                            <h4>{{userInfo?.firstName}} {{userInfo?.lastName}} <small>{{userRole}}</small>
                            </h4>
                        </div>
                    </a>
                    <ul class="dropdown-menu" [ngClass]="{'show' : isShowDropdown}" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)='handleLogout()'>Logout</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
