<header class="headerv2-wrapper">
    <div class="headerv2-wrapper-container">
        <div class="headerv2-wrapper-inner">
            <div class="headerv2-wrapper-left">
                <a class="span-link" [routerLink]="['/']">
                    <img class="headerv2-wrapper-main-logo" *ngIf="userInfo?.imageId"
                        src="{{docurl}}{{userInfo?.imageId}}" alt="header_logo">
                    <img class="headerv2-wrapper-main-logo" *ngIf="!userInfo?.imageId"
                        src="../../../assets/images/icons/header_logo.svg" alt="header_logo">
                </a>
            </div>
            <div class="headerv2-wrapper-inner-right">
                <div class="headerv2-wrapper-middle">
                    <ul>
                        <li class="notification">
                            <div class="span-link notification-icon"></div>
                        </li>
                        <li class="input-box">
                            <input type="text" placeholder="search" class="border-0" />
                        </li>
                    </ul>
                </div>
                <div class="headerv2-wrapper-right">
                    <ul>
                        <li>
                            <a class="span-link notification-icon"></a>
                        </li>
                        <li class="__user__menu dropdown show_on_hover">
                            <a class="span-link">
                                <div class="user-icon"></div>
                                <div class="user-section">
                                    <span class="__name">Admin{{authData?.firstName}}</span>
                                    <span class="__role">Super User{{authData?.userRoles}}</span>
                                </div>
                                <div class="dropdown-icon"></div>
                            </a>
                            <div class="dropdown-menu dropdown-usermenu from-right header_dropdown">
                                <div class="item logout" (click)='handleLogout()'>Log Out</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
