@import "../../../../style/variables";

.headerv2-wrapper {
    &-inner {
        display: flex;
        width: 100%;
    }
    &-left {
        background: $--themeColor;
        left: 0px;
        width: 176px;
        top: 0px;
        height: 60px;
    }
    &-main-logo {
        height: 60px;
        width: 176px;
    }
    &-inner-right {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: #ffffff;
        border: 1px solid #cfcfcf;
    }
    &-middle {
        padding:12px;
        ul {
            display: flex;
            padding: 2px 0 2px 0;
            li {
                &.input-box {
                    padding: 2px 2px 2px 8px;
                }
            }
        }
        .notification-icon {
            background-color: $--themeColor;
            height: 24px;
            width: 24px;
            mask:url('/assets/images/icons/header_search.svg') no-repeat center;
            -webkit-mask:url('/assets/images/icons/header_search.svg') no-repeat center;
        }
    }
    &-right {
        padding:12px;
        ul {
            display: flex;
            align-items: center;
            li {
                padding-left: 25px;
                &.__user__menu {
                    a {
                        display: flex;
                        align-items: center;
                    }
                    .user-section {
                        margin: 0 10px; 
                    }
                    span {
                        display: block;
                    }
                    .__name {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color:#333;
                    }
                    .__role {
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 12px;
                        color: #000;
                        opacity: 0.8;
                    }
                }

                .notification-icon {
                    background-color: $--themeColor;
                    height: 24px;
                    width: 24px;
                    mask:url('/assets/images/icons/notification_bell.svg') no-repeat center;
                    -webkit-mask:url('/assets/images/icons/notification_bell.svg') no-repeat center;
                }
                .user-icon {
                    background-color: #808080;
                    height: 30px;
                    width: 30px;
                    mask:url('/assets/images/icons/user.svg') no-repeat center;
                    -webkit-mask:url('/assets/images/icons/user.svg') no-repeat center;
                }
                .dropdown-icon {
                    background-color: #808080;
                    height: 24px;
                    width: 24px;
                    mask:url('/assets/images/icons/user.svg') no-repeat center;
                    -webkit-mask:url('/assets/images/icons/DropDownArrow.svg') no-repeat center;
                }
            }
        }
    }
}
.dropdown-usermenu {
    .item {
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        padding: 5px 10px;
        color: #98a354;
        cursor: pointer;
        &:hover {
            color: $--themeColor !important;
        }
        &.logout:hover {
            color: red !important;
        }
    }
}
