<h2 class="h2">Account Preferences</h2>

<form action="" class="form okt-form" [formGroup]="companyPreference" (ngSubmit)="companyPreference.valid && submit()">
  <h5 class="h5">Language & Region</h5>
  <div class="border-well">
    <div class="row">
      <div class="col mb-3">
        <label for="">Language</label>
        <mat-form-field appearance="outline" class="esg-mat-form-select">
          <mat-select formControlName="language">
            <mat-option [value]="option.id" *ngFor="let option of languages">{{ option.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col mb-3">
        <label for="">Timezone</label>
        <mat-form-field appearance="outline" class="esg-mat-form-select">
          <mat-select formControlName="timeZone" placeholder="Select Timezone">
            <mat-option [value]="option.id" *ngFor="let option of timezones">{{ option.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <h5 class="h5 mt-4">Theme</h5>
  <div class="border-well">
    <div class="d-flex">
      <div class="theme" [ngClass]="{'active': selectedTheme === 'green-theme'}" (click)="chooseTheme('green-theme')">
        <div class="color">
          <i class="fa fa-check"></i>
        </div>
        <p>Default</p>
      </div>
      <div class="theme blue" [ngClass]="{'active': selectedTheme === 'blue-theme'}"
        (click)="chooseTheme('blue-theme')">
        <div class="color">
          <i class="fa fa-check"></i>
        </div>
        <p>DarkSlateBlue</p>
      </div>
      <div class="theme teal" [ngClass]="{'active': selectedTheme === 'teal-theme'}"
        (click)="chooseTheme('teal-theme')">
        <div class="color">
          <i class="fa fa-check"></i>
        </div>
        <p>Teal</p>
      </div>
      <div class="theme coral" [ngClass]="{'active': selectedTheme === 'coral-theme'}"
        (click)="chooseTheme('coral-theme')">
        <div class="color">
          <i class="fa fa-check"></i>
        </div>
        <p>Coral</p>
      </div>
      <!-- <div class="theme custom">
        <div class="color">
          <i class="fa fa-pencil"></i>
        </div>
        <p>Custom</p>
      </div> -->
    </div>
  </div>
  <h5 class="h5 mt-4">Your Subscription Plan</h5>
  <div class="border-well">
    <table class="table table-borderless table-subscription">
      <tr>
        <td>Current Plan</td>
        <td>Basic Subscription Plan (Yearly) <i class="fa fa-info-circle"></i> <a class="cursor-pointer">Change plan</a>
        </td>
        <td class="text-end"><span class="badge rounded-pill bg-green">Active</span></td>
      </tr>
      <tr>
        <td>User Limit</td>
        <td>5 User <i class="fa fa-info-circle"></i></td>
      </tr>
      <tr>
        <td>Valid Time</td>
        <td>1 April, 2021 10:00 PM - 31 March, 2022 10:00 PM</td>
      </tr>
      <tr>
        <td>Password</td>
        <td><a href="#" class="cursor-pointer changePwd">Change Password</a></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="button" class="btn btn-primary btn-sm btn-mn mt-2">Renew Plan</button></td>
      </tr>
    </table>
  </div>

  <hr>
  <button type="submit" class="btn btn-primary btn-sm btn-mn">Save</button>
  <button type="button" class="btn btn-secondary btn-sm btn-mn ml-2">Cancel</button>
</form>
