<!-- <div class="auth-wrapper">
    <div class="container">
        <div class="form-wrapper">
            <div class="form-wrapper-inner">
                <div class="logo text-center">
                    <img src="../../assets/images/icons/logo1.svg" alt="logo">
                </div>
                <app-login-type *ngIf="loginSteps && loginSteps?.activeStep==1"
                    (sendDataToParent)="eventFromChild($event)">
                </app-login-type>
                <app-login-form *ngIf="loginSteps && loginSteps?.activeStep==2"
                    [loginType]="loginSteps && loginSteps.title" (sendDataToParent)="eventFromChild($event)">
                </app-login-form>
                <app-login-by-otp (sendDataToParent)="eventFromChild($event)"
                    [userName]="loginSteps && loginSteps.userLogin" *ngIf="loginSteps && loginSteps?.activeStep==3">
                </app-login-by-otp>
                <app-select-company *ngIf="loginSteps && loginSteps?.activeStep==4"></app-select-company>
            </div>
        </div>
    </div>
</div> -->
<div class="bg d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-4">
                <div class="well">
                    <div class="text-center">
                        <img src="../../assets/img/logo.png" alt="">
                        <h1 class="mt-4 mb-3">Login</h1>
                    </div>
                    <app-login-form *ngIf="loginSteps && loginSteps?.activeStep==2"
                        (sendDataToParent)="eventFromChild($event)">
                    </app-login-form>
                    <app-login-with-otp (sendDataToParent)="eventFromChild($event)"
                        [inputUser]="loginSteps && loginSteps.userName" *ngIf="loginSteps && loginSteps?.activeStep==4">
                    </app-login-with-otp>
                </div>
            </div>
        </div>
    </div>

</div>
