<h2 class="h2">Locations</h2>
<div class="row">
  <div class="col">
    <form action="" class="form okt-form mb-5" [formGroup]="companyLocations"
      (ngSubmit)="companyLocations.valid && submit()" autocomplete="off">
      <div class="row">
        <div class="col mb-3">
          <label for="">Company Name <span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Company Name" formControlName="companyName" matInput required />
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">Location Name<span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Location Name" formControlName="locationName" matInput required />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="">Location Description</label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Location Description" formControlName="locationDescription" matInput />
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">Site ID</label>
          <!-- <input type="text" class="form-control" value="12XXX-XXXX" disabled> -->
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input matInput type="text" formControlName="siteId" placeholder="Enter Unique Id" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="">Type of Address</label>
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="addressTypeId" placeholder="Select Type of Address">
              <mat-option [value]="option.id" *ngFor="let option of addressTypes">{{ option.type }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">Timezone</label>
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="timeZoneID" placeholder="Select Timezone">
              <mat-option [value]="option.id" *ngFor="let option of timezones">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="">Address Line 1 <span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Address Line 1" formControlName="addressLine1" matInput required />
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">Address Line 2</label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Address Line 2" formControlName="addressLine2" matInput />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="">Country<span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="countryId" placeholder="Select Country"
              (selectionChange)="loadStates($event.value)">
              <mat-option [value]="country.id" *ngFor="let country of countries">{{ country.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">State<span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="stateId" placeholder="Select State"
              (selectionChange)="loadCities($event.value)">
              <mat-option [value]="state.id" *ngFor="let state of states">{{ state.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="">City<span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="cityId" placeholder="Select City">
              <mat-option [value]="city.id" *ngFor="let city of cities">{{ city.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">Zip Code <span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Zip Code" formControlName="zipCode" matInput required />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="">Status <span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="status" placeholder="Select Status">
              <mat-option value="1">Active</mat-option>
              <mat-option value="2">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col"></div>
      </div>

      <hr>

      <button type="button" class="btn btn-primary btn-sm mb-4">+ Add Locations</button>
      <hr>
      <button type="submit" class="btn btn-primary btn-sm btn-mn">Save</button>
      <button type="button" class="btn btn-secondary btn-sm btn-mn ml-2">Cancel</button>
    </form>
  </div>
</div>
<p-toast position="top-right"></p-toast>
