<h2 class="h2">Company Details</h2>
<div class="row">
  <div class="col">
    <form action="" class="form okt-form mb-5" [formGroup]="companyDetails"
      (ngSubmit)="companyDetails.valid && submit()" autocomplete="off">
      <div class="row">
        <div class="col mb-3">
          <label for="">Company Name <span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Company Name" formControlName="companyName" matInput required />
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">Industry Type<span>*</span></label>
          <!-- <select name="" id="" class="form-control">
            <option value="">Select</option>
          </select> -->
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="industryTypeId" placeholder="Select IndustryType">
              <mat-option [value]="industryType.id" *ngFor="let industryType of industryTypes">{{ industryType.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="">Country<span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="companyCountryId" placeholder="Select Country"
              (selectionChange)="loadStates($event.value)">
              <mat-option [value]="country.id" *ngFor="let country of countries">{{ country.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">State</label>
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="companyStateId" placeholder="Select State">
              <mat-option [value]="state.id" *ngFor="let state of states">{{ state.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <h5 class="h5">Billing Address</h5>

      <div class="row">
        <div class="col mb-3">
          <label for="">Address Line 1 <span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Address Line 1" formControlName="addressLine1" matInput required />
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">Address Line 2</label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Address Line 2" formControlName="addressLine2" matInput />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="">Country<span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="billingCountryId" placeholder="Select Country"
              (selectionChange)="loadBillingStates($event.value)">
              <mat-option [value]="country.id" *ngFor="let country of countries">{{ country.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">State<span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="billingStateId" placeholder="Select State"
              (selectionChange)="loadBillingCities($event.value)">
              <mat-option [value]="state.id" *ngFor="let state of billingStates">{{ state.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="">City<span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-select">
            <mat-select formControlName="billingCityId" placeholder="Select City">
              <mat-option [value]="city.id" *ngFor="let city of billingCities">{{ city.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">Zip Code <span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Zip Code" formControlName="zipCode" matInput required />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="">Primary Contact Name <span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Primary Contact Name" formControlName="primaryContactName" matInput
              required />
          </mat-form-field>
        </div>
        <div class="col mb-3">
          <label for="">Primary Contact Mobile Number</label>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="esg-mat-form-input">
                <input type="text" formControlName="primaryContactCCCodeId" matInput />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="esg-mat-form-input">
                <input type="text" placeholder="Contact Number" formControlName="primaryContactNumber" matInput />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="">Correspondence Email<span>*</span></label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Correspondence Email" formControlName="contactMail" matInput required />
          </mat-form-field>
        </div>
        <div class="col"></div>
      </div>

      <h5 class="h5">Department Details</h5>
      <div class="row" formArrayName="deptArray" *ngFor="let dept of deptartmentArray; let i = index;">
        <div class="col mb-3">
          <label for="">Department {{i+1}}</label>
          <mat-form-field appearance="outline" class="esg-mat-form-input">
            <input type="text" placeholder="Department" [formControlName]="i" matInput />
          </mat-form-field>
        </div>
        <div class="col">
          <ng-container *ngIf="deptartmentArray.length == (i+1)">
            <label for=""></label>
            <button type="button" class="btn btn-primary btn-sm mt-ad" (click)="addDeptControl()">+ Add
              Department</button>
          </ng-container>
        </div>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary btn-sm btn-mn">Save</button>
      <button type="button" class="btn btn-secondary btn-sm btn-mn ml-2">Cancel</button>
    </form>
  </div>
</div>
<p-toast position="top-right"></p-toast>
