<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-inline mt-2">
          <li class="list-inline-item">2022 © ESG Futuretech</li>
        </ul>
      </div>
      <div class="col ">
        <ul class="list-inline text-end">
          <li class="list-inline-item">
            <a class="btn btn-sm btn-tour" data-bs-toggle="modal" data-bs-target="#tool-setting-modal"><img
                src="assets/img/flag2.png" alt=""> Take Tour</a>
          </li>
          <li class="list-inline-item">Terms and Conditions, Privacy Policy</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
