<div class="body-container">
  <nav class="nav-bar">
    <ul class="nav-bar-list flex-column">
      <li>
        <div class="nav-item">
          <span class="nav-item-left-icon">X</span>
          <span class="nav-item-content">Dashboard</span>

        </div>
      </li>
      <li>
        <div class="nav-item">
          <span class="nav-item-left-icon">X</span>
          <span class="nav-item-content">Gap Assessment</span>

        </div>
      </li>
    </ul>
  </nav>
  <div class="main-container"></div>
</div>
