@import "../../../../../style/variables";

.body-container {
  display: flex;
  width:100%;
}

.nav-bar {
  min-height: 100vh;
  background: $--themeColor;
  color: #fff;
  font-size: 10px;
}

.nav-bar-list {
  width: 176px;
  display: flex;
  list-style: none;
}
.nav-item {
  padding: 12px;
}
.nav-item-left-icon {

}
.nav-item-content {
  padding-left: 6px;
}
.main-container {
  width: 100%;
  background: #f7f7f7;
}
