.user-list-wrap {
  padding: 40px 0;
}
.name-cell {
  display: flex;
  align-items: center;
}
.name-badge {
  text-transform: uppercase;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #9b9b9b;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.mr-5 {
  margin-right: 5px;
}

.status__circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  &.left {
    margin-right: 5px;
  }
  &.green {
    background: #98a354;
  }
}
.userStatus {
  display: inline-block;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 16px;
  &.active {
    background: #98a354;
  }
  &.inactive {
    background: red;
  }
}
.password-field {
  position: relative;
  .form-control {
    padding-right: 50px !important;
  }
  .visibility-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    cursor: pointer;
  }
}

.info-section {
  font-weight: 500;
  font-size: 10px;
  color: #808080;
  display: flex;
  align-items: center;
  a {
    color: #808080;
    font-size: 10px;
    font-weight: bold;
    margin: 0 5px;
  }
  svg {
    margin-right: 10px;
  }
}
.renew-btn {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  background: #212121;
  border-radius: 6px;
  padding: 6px 10px;
  border: 0px;
  margin-left: 5px;
}
