<form action="" class="form okt-form" [formGroup]="signupForm" (ngSubmit)="submit(formDirective)" autocomplete="off"
  #formDirective="ngForm">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="d-flex" for="">First Name</label>
        <mat-form-field appearance="outline" class="esg-mat-signup-form-input">
          <input type="text" placeholder="Enter First Name" formControlName="firstName" matInput required />
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="d-flex" for="">Last Name</label>
        <mat-form-field appearance="outline" class="esg-mat-signup-form-input">
          <input type="text" placeholder="Enter Last Name" formControlName="lastName" matInput required />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="d-flex" for="">Email</label>
        <mat-form-field appearance="outline" class="esg-mat-signup-form-input">
          <input type="email" placeholder="Enter Email" formControlName="email" matInput required />
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="d-flex" for="">Phone Number</label>
        <mat-form-field appearance="outline" class="esg-mat-signup-form-input">
          <input type="text" placeholder="Enter Phone Number" formControlName="phoneno" matInput required />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="d-flex" for="">Password</label>
        <div class="pw">
          <mat-form-field appearance="outline" class="esg-mat-signup-form-input">
            <input matInput placeholder="Enter Password" [type]="hide ? 'password' : 'text'" required
              formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="indi hide">
          <span>Password strength:</span> Strong
          <ul class="pw-strength">
            <li>
              <div class="str-0 fill"></div>
            </li>
            <li>
              <div class="str-0 fill"></div>
            </li>
            <li>
              <div class="str-0 fill"></div>
            </li>
            <li>
              <div class="str-0 fill"></div>
            </li>
            <li>
              <div class="str-0 fill"></div>
            </li>
            <li>
              <div class="str-0"></div>
            </li>
            <li>
              <div class="str-0"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="d-flex" for="">Re-enter Password</label>
        <div class="pw">
          <mat-form-field appearance="outline" class="esg-mat-signup-form-input">
            <input matInput placeholder="Re-enter Password" [type]="hide ? 'password' : 'text'" required
              formControlName="confirmPassword">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="indi hide">

        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <mat-checkbox color="accent" class="esg-mat-form-checkbox" formControlName="acceptTerms"></mat-checkbox>
      <label class="form-check-label ml-2" for="exampleCheck1"> I agree to the <a role="button">Terms and
          Conditions</a></label>
    </div>
  </div>
  <div class="form-group">
    <p-captcha siteKey="{{siteKey}}" (onResponse)="showResponse($event)" (onExpire)="resetCaptchaResponse()">
    </p-captcha>
  </div>
  <div class="form-group text-center">
    <button mat-flat-button color="accent" type="submit" class="esg-mat-form-button mb-3">Sign Up</button>
    <p>existing user ? <a role="button" [routerLink]="['/']">Login</a></p>
  </div>
</form>
<p-toast position="bottom-center"></p-toast>
